
<div class="container mb-5">

    <div class="text-center">
        <img src="./assets/images/logopokemon.png" class="img-fluid animate__animated animate__tada">
    </div>

    <div class="row">
        <div class="card-columns ">
            <div class="card fadein animate__animated animate__fadeIn " *ngFor="let pokemon of pokemones">
            <div class="card-header bg-dark text-center"><h2> {{pokemon.name}}</h2></div>
                <img src="./assets/images/pokeball.png" class="img-thumbnail cursor" (click)="onclickPokemon(pokemon.name)">
            
            </div>
        </div>    
    </div>

    <div class="mt-5" >
        <button class="btn btn-primary float-left btn-lg btnPagina" [disabled]="btnActive" (click)=" paginarPreviuos()">Previous</button>
        <button class="btn btn-primary float-right btn-lg btnPagina" (click)=" paginarNext()">Next</button><br>
     </div>
    
</div>





